<div class=".container-fluid" id="container-portal">

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="row">
                <form>
                    <div class="form-group">

                        <h1>Client Login</h1>

                        <label for="client-email">Username</label>
                        <input type="text" class="form-control" placeholder="username" id="client-email" ng-model="clientUsername">


                        <label for="password-input">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password" ng-model="clientPassword">

                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-click="login(clientUsername, clientPassword)" id="portal-login-button">Login</button>
                        <button id="portal-login-button" type="submit" class="btn btn-default"><a href="/auth/google" id="white-text"><i class="fa fa-google-plus" aria-hidden="true" id="google-plus"></i>Login</a></button>
                      </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>
