body
  margin: 0px
  margin-top: -21px

.main-background
  margin-left: 20px
  margin-right: 20px
  margin-top: 15px

.red-cdg
    color: red
    font-size: 100px

.under-text
  display: flex
  flex-direction: column
  margin-top: 70px

.under-text-spacing
  margin: 5px

.no-underline
  text-decoration: none

.head-banner
  display: flex
  margin-top: -50px
  padding-top: 20px

.red-bar
  width: 30px
  height: 420px
  background-color: red

.left-bar
  margin-top: -210px
  position: absolute
  margin-left: 1200px

.cornerstone-design
  color: grey
  margin-top: 30px
  position: absolute
  margin-left: 8px

.main-container-about
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 90px

.main-container-design
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 90px

.main-container-contact
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 90px

.main-container-portal
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 13px

.main-container-project
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 13px

.main-container-residential
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 13px

.main-container-institutional
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 13px

.main-container-commercial
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 13px

.main-container-client
  display: flex
  flex-direction: column
  width: 75%
  margin-top: -30px
  margin-left: 13px

.about-underline
  text-decoration: underline

.underline
  border-bottom: 1px solid black

.underline-philosophy
  border-bottom: 1px solid black
  width: 190px

.underline-process
  border-bottom: 1px solid black
  width: 153px

.underline-contact
  border-bottom: 1px solid black
  width: 153px

.underline-client
  border-bottom: 1px solid black
  width: 174px

.about-top
  display: flex
  justify-content: center

.about-bottom
  display: flex
  justify-content: center
  flex-direction: column

.design
  display: flex
  justify-content: center

.contact-us
  display: flex
  justify-content: center


.question-box
  height: 200px
  margin-bottom: 15px

.question-submit
  width: 125px
  height: 45px
  margin-bottom: 20px

.input-portal
  margin-bottom: 5px

.username-password
  width: 200px
  height: 25px

.login-portal
  width: 140px
  height: 30px

.project-pictures
  width: 600px

.commercial-project
  display: flex
  justify-content: center
  flex-direction: column
.fa
  font-size: 30px
.shopping-icon
  font-size: 30px
  margin-left: 1030px
.floor-plans
  height: 600px
  width: 800px
  margin-left: 200px
  margin-top: 40px
  overflow: scroll
.floor-plan-box
  width: 800px
.checkout-button
  margin-left: 200px
  margin-bottom: 30px
  margin-top: 10px
.floor-plan-picture
  height: 250px
  width: 500px
  margin-left: 125px
.client-name
  margin-left: 500px
.client-info-box
  width: 800px
  height: 250px
  margin-left: 200px
  overflow: scroll
  display: flex
  margin-top: 25px
a:visited
  text-decoration: none
  color: black
.file-box
  width: 350px
  display: flex
  flex-wrap: wrap
  flex-direction: row
.note-box
  width: 450px
.black-line
  border-bottom: 1px solid black
  width: 800px
  margin-left: 200px
  margin-top: 100px
  margin-bottom: 100px
.fa-file
  font-size: 80px !important
  margin-right: 20px
  margin-bottom: 20px
.checkout-box
  width: 800px
  margin-left: 200px
  overflow: scroll
.proceed-button
  margin-left: 825px
  margin-top: 30px
  margin-bottom: 50px
.front-page-image
  margin-left: 200px
  width: 750px
  margin-bottom: 100px
.home-links
  display: flex
  flex-direction: row
  width: 750px
  margin-left: 200px
  justify-content: space-between
