



        <div class="row contact-main-row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-1">
                <div class="row">
                    <h1><u class="white-text" id="text-head-large">Contact Us</u></h1>
                    <h3 class="white-text" id="text-contact">Name: Zachary Springer</h3>
                    <h3 class="white-text" id="text-contact">Phone: 801-555-5555</h3>
                    <h3 class="white-text" id="text-contact">Email: zaspringer@gmail.com</h3>
                    <h3 class="white-text" id="text-contact">address: 5555 Jefferson Street</h3>
                    <textarea class="form-control" rows="7" ng-model="question"></textarea>
                    <form>
                      <div class="form-group">
                    <label for="response-email" class="white-text" id="text-contact">Email Address</label>
                    <input type="email" class ="form-control" id="response-email" placeholder="Email" ng-model="email"></input>
                  </div>
                  </form>
                  </br>
                    <button type="submit" class="btn btn-default" id="submit-button" ng-click="submitQuestion(question, email)">Submit question</button>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12088.034323834663!2d-111.890746!3d40.761836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xff6657b6de2fd98!2sDevMountain+-+Salt+Lake+City+Campus!5e0!3m2!1sen!2sus!4v1491090369586" width="600"
                  height="550" frameborder="0" style="border:0" allowfullscreen id="google-map"></iframe>
            </div>
        </div>
