<div class="main-container-client">
    <a ui-sref="cart({ client: client.name, mansion, prison, castle, soccer, highrise})" class="shopping-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    <h1 class="client-name">{{client.clientname}}</h1>
    <div class="client-info-box">


      <div class="file-box">

        {{client.client_file_1}}
        {{client.client_file_2}}
        {{client.client_file_3}}
        {{client.client_file_4}}

       </div>

      <div class="note-box">
        {{client.client_note_1}}
        {{client.client_note_2}}
        {{client.client_note_3}}
        {{client.client_note_4}}

      </div>

    </div>

    <div class="black-line"></div>

    <div class="floor-plans">


      <div class="floor-plan-box">
    <div ng-repeat="plans in allPlans">
      {{plans.floor_plan_name}}
      <img ng-src="{{plans.image}}" class="floor-plan-picture" />
      {{plans.price}}
      <button ng-click="addToCart(client.client_id, plans.id)">Add To Cart</button>
    </div>
  </div>
</div>


<div class="checkout-button"><a ui-sref="cart({ client: client.name, mansion, prison, castle, soccer, highrise})"><button>View Cart</button></a> </div>




</div>
